<!DOCTYPE html>
<html lang="en" data-ng-app="@ViewBag.InitModule">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="portfolio, Julhash Rahman">
    <meta name="author" content="Julhash Rahman">


    <title>@ViewBag.Title - Julhash Rahman's Portfolio Website</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@


    @*<link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/gif" href="animated_favicon1.gif">*@


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    @Styles.Render("~/Support/bootstrap")
    @* @Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/MasterStyle")
    @Styles.Render("~/Support/font-awesome")
    @Scripts.Render("~/bundles/modernizr")
   
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
     <script src="~/Scripts/angular-animate.min.js"></script>

    @*@Scripts.Render("~/Script/angular")*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    

    @Scripts.Render("~/Support/bootstrap/js")

    @Scripts.Render("~/Support/Others/js")

    
    

@*     <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>*@

    @RenderSection("scripts", required: false)

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }


</head>
<body>
    <h1>Under Construction. Please come back later.</h1>
      

</body>
</html>
