@model JulhashWebsite.Models.Portfolio
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div id="projects-list" class="row" style="text-align: left">
        <div class="span12">
            <!-- title -->
            <div id="page-title">
                <span class="title">Portfolio</span> <span class="subtitle">Some of my web development
                    works</span>
            </div>
        </div>

         @{ Html.RenderAction("PortfolioMenu", "Nav"); }

        <div class="span7" style="padding-top:10px; padding-bottom:10px;">
            <!-- project column (left)-->
            <div class="project-column">
                <!-- shadow -->
                <div class="project-shadow">
                    @{
                        string itemPath = "";
                        itemPath = @Model.Path.Replace("Thumb", "Large");
                    }
                    <div class="project-thumbnail">

                        <img src="@Url.Content(@itemPath)" alt="@Model.Title" />
                    </div>
                    <!-- meta -->
                    <ul class="meta">
                        <li><strong>Project date</strong>&nbsp; @Model.ProjectDate  </li>
                        <li><strong>Client</strong> &nbsp; @Model.Title </li>
                        <li><strong>Visit website</strong>&nbsp; @Model.Caption</li>
                    </ul>
                    <!-- ENDS meta -->
                    <div class="portfolio-left-shadow">
                    </div>
                </div>
                <!-- ENDS shadow -->
                <!-- project gallery -->
                <h2>Project gallery</h2>
                <div class="row">
                    <div class="span3 pull-left">
                        <ul class="project-gallery">
                            <li><a href='@Model.Project.Path01.Replace("Thumb", "Large")' class="fancybox">
                                <img src="@Model.Project.Path01" alt="Infotrack"></a></li>
                        </ul>
                    </div>
                    <div class="span3 pull-left">
                        <ul class="project-gallery">
                            <li><a href='@Model.Project.Path02.Replace("Thumb", "Large")' class="fancybox">
                                <img src="@Model.Project.Path02" alt="Infotrack"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span3 pull-left">
                        <ul class="project-gallery">
                            <li><a href='@Model.Project.Path03.Replace("Thumb", "Large")' class="fancybox">
                                <img src="@Model.Project.Path03" alt="Infotrack"></a></li>
                        </ul>
                    </div>
                    <div class="span3 pull-left">
                        <ul class="project-gallery">
                            <li><a href='@Model.Project.Path04.Replace("Thumb", "Large")' class="fancybox">
                                <img src="@Model.Project.Path04" alt="Infotrack"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- ENDS project gallery -->
            </div>
        </div>
        <div class="span5">
            <!--project column (right) -->
            <div class="">
                <h1 class="project-title">
                    @Model.Title</h1>
                @Model.Project.Description
            </div>
            <div class="clear">
            </div>
            <!-- ENDS project column (right) -->
        </div>
        <!-- ENDS content -->
    </div>
</div>


