@model JulhashWebsite.Models.Portfolio
@{
    ViewBag.Title = "Index";
}
<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">
        <!-- content -->
        <div id="content">
            <!-- title -->
            <div id="page-title">
                 <span class="title">The Portfolio</span> <span class="subtitle">Some of my web development
                    works</span>
            </div>
            <!-- ENDS title -->
            <!-- filter -->
            <ul class="filter">
                <li>Categories</li>
                @*<li class="active"><a href="#">E-Commerce </a></li>*@
                        <li><a href="/Portfolio/Index/?page=&category=ecommerce">E-Commerce</a></li>
                        <li><a href="/Portfolio/Index/?page=&category=onlineeducation">Online-Education</a></li>
                        <li><a href="/Portfolio/Index/?page=&category=erecruitment">E-Recruitment</a></li>
                        <li><a href="/Portfolio/Index/?page=&category=informative">Informative </a></li>
                        <li><a href="/Portfolio/Index/?page=&category=digitalads">Digital Ads</a></li>
                        <li><a href="/Portfolio/Index/?page=&category=logistics">Logistics</a></li>

            </ul>
            <!-- ENDS filter -->
            <!-- project column (left)-->   
            <div class="project-column">
                <!-- shadow -->
                <div class="project-shadow">
                 @{
                                string itemPath = "";
                                itemPath = @Model.Path.Replace("Thumb", "Large");
                            }
                    <div class="project-thumbnail">

                         <img src="@Url.Content(@itemPath)" alt="@Model.Title" /></div>
                    <!-- meta -->
                    <ul class="meta">
                        <li><strong>Project date</strong>&nbsp; @Model.ProjectDate  </li>
                        <li><strong>Client</strong> &nbsp; @Model.Title </li>
                        <li><strong>Visit website</strong>&nbsp; @Model.Caption</li>
                    </ul>
                    <!-- ENDS meta -->
                    <div class="portfolio-left-shadow">
                    </div>
                </div>
                <!-- ENDS shadow -->
                <!-- project gallery -->
                <h2>
                    Project gallery</h2>

                <ul class="project-gallery">
                    <li><a href='@Model.Project.Path01.Replace("Thumb","Large")' class="fancybox">
                        <img src="@Model.Project.Path01" alt="Infotrack"></a></li>
                    <li><a href="@Model.Project.Path02.Replace("Thumb","Large")" class="fancybox">
                        <img src="@Model.Project.Path02" alt="Infotrack"></a></li>
                    <li><a href="@Model.Project.Path03.Replace("Thumb","Large")" class="fancybox">
                        <img src="@Model.Project.Path03" alt="Infotrack"></a></li>
                    <li><a href="@Model.Project.Path04.Replace("Thumb","Large")" class="fancybox">
                        <img src="@Model.Project.Path04" alt="Infotrack"></a></li>
                </ul>
                <!-- ENDS project gallery -->
            </div>
            <!-- ENDS project column (left)-->
            <!--project column (right) -->
            <div class="project-column">
                <h1 class="project-title">
                    @Model.Title</h1>
                @Model.Project.Description
            </div>
            <div class="clear">
            </div>
            <!-- ENDS project column (right) -->
        </div>
        <!-- ENDS content -->
    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->
