@model JulhashWebsite.Helpers.PaginatedList<JulhashWebsite.Models.Portfolio>
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true,
            animationStart: function (current) {
                $('.caption').animate({
                    bottom: -35
                }, 100);
                if (window.console && console.log) {
                    // example return of current slide number
                    console.log('animationStart on slide: ', current);
                };
            },
            animationComplete: function (current) {
                $('.caption').animate({
                    bottom: 0
                }, 200);
                if (window.console && console.log) {
                    // example return of current slide number
                    console.log('animationComplete on slide: ', current);
                };
            },
            slidesLoaded: function () {
                $('.caption').animate({
                    bottom: 0
                }, 200);
            }
        });
    });
</script>
<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">
        <!-- content -->
        <div id="content">
            <!-- title -->
            <div id="page-title">
                <span class="title">The Portfolio</span> <span class="subtitle">Some of my web development
                    works</span>
            </div>
            <!-- ENDS title -->
            <!-- filter -->
            <ul class="filter">
                <li>Categories</li>
                <li class="active"><a href="#">E-Commerce </a></li>
                <li ><a href="#">Real Estate </a></li>
                <li><a href="#">Logistics </a></li>
                <li><a href="#">Educational </a></li>
                <li><a href="#">Recruitment </a></li>
                <li><a href="#">Informative </a></li>
            </ul>
            <!-- ENDS filter -->
            <!-- Portfolio -->
            <div id="projects-list">
                <table>
                    <tr>
                        <td>
                            @{
                                string itemPath = "";
                                itemPath = @Model[0].Path.Replace("Thumb", "Large");
                            }
                            <!-- project -->
                            <div class="project">
                                <h1>
                                    <a href="@Model[0].Caption">@Model[0].Title</a></h1>
                                <!-- shadow -->
                                <div class="project-shadow">
                                    <!-- project-thumb -->
                                    <div class="project-thumbnail">
                                        <!-- meta -->
                                        <ul class="meta">
                                            <li><strong>Project date</strong> </li>
                                            <li><strong>Client</strong>&nbsp; @Model[0].Title </li>
                                            <li><strong>Visit website</strong> <a href="#">@Model[0].Caption</a></li>
                                        </ul>
                                        <!-- ENDS meta -->
                                        <a href="project.html" class="cover">
                                            <img src="@itemPath" alt="@Model[0].Title" /></a>
                                    </div>
                                    <!-- ENDS project-thumb -->
                                    <div class="the-excerpt">
                                        @Model[0].Description
                                    </div>
                                    <a href="/Project" class="read-more link-button"><span>View project</span></a>
                                </div>
                                <!-- ENDS shadow -->
                            </div>
                            <!-- ENDS project -->
                        </td>
                       @if (Model.Count > 1)
                       {
                        <td>
                            @{
                           string itemPath2 = "";
                           itemPath2 = @Model[1].Path.Replace("Thumb", "Large");
                            }
                            <!-- project -->
                            <div class="project">
                                <h1>
                                    <a href="@Model[1].Caption">@Model[1].Title</a></h1>
                                <!-- shadow -->
                                <div class="project-shadow">
                                    <!-- project-thumb -->
                                    <div class="project-thumbnail">
                                        <!-- meta -->
                                        <ul class="meta">
                                            <li><strong>Project date</strong> </li>
                                            <li><strong>Client</strong>&nbsp; @Model[1].Title </li>
                                            <li><strong>Visit website</strong> <a href="#">@Model[1].Caption</a></li>
                                        </ul>
                                        <!-- ENDS meta -->
                                        <a href="project.html" class="cover">
                                            <img src="@itemPath2" alt="@Model[1].Title" /></a>
                                    </div>
                                    <!-- ENDS project-thumb -->
                                    <div class="the-excerpt">
                                         @Model[1].Description
                                    </div>
                                    <a href="/Project" class="read-more link-button"><span>View project</span></a>
                                </div>
                                <!-- ENDS shadow -->
                            </div>
                            <!-- ENDS project -->
                        </td>
                       }
                       
                    </tr>
                 
                </table>
            </div>
            <!-- ENDS Portfolio -->
            <!-- pagination -->
            <div class="clear">
            </div>
            <ul class='pager'>
                @if (Model.HasPreviousPage)
                {      
                    <li>@Html.ActionLink("<<", "Index", new { page = (Model.PageIndex - 1) }) </li>    
                }
                @if (@Model.HasNextPage)
                {
                    <li>@Html.ActionLink(">>", "Index", new { page = (Model.PageIndex + 1) })</li>
                }

@*
                <li class='first-page'><a href='#'>&laquo;</a></li>
                <li><a href='#'>&lsaquo;</a></li>
                <li><a href='#'>2</a></li>
                <li><a href='#'>3</a></li>
                <li class='active'><a href='#'>4</a></li>
                <li><a href='#'>5</a></li>
                <li><a href='#'>6</a></li>
                <li><a href='#'>&rsaquo;</a></li>
                <li class='last-page'><a href='#'>&raquo;</a></li>*@
            </ul>
            <!-- ENDS pagination -->
        </div>
        <!-- ENDS content -->
    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->
